<div class="container-fluid container-home">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="home">Your code stinks</h1>
    <div class="home">
      <h2>...but I can help</h2>
      <h3>...by angrily shaming you on Twitter</h3>
      <h4>...every time you commit with a code smell.</h4>
      <h5>What could possibly go wrong?</h5>
    </div>
    <%= link_to "Authorize with Github", login_path, class: "btn btn-lg btn-default btn-home" %>
  </div>
  <div class="col-md-2"></div>
</div>
